<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="section features">
    <div class="container">
      <h2 class="section__title">KEY FEATURES</h2>
      <p class="section__p">
        Nunc vulputate nibh sed congue facilisis. Curabitur posuere
        scelerisque neque. In sit amet lectus non lacus sollicitudin cursus a
        vitae felis. Praesent luctus mi quis nisi interdum eleifend.
      </p>
      <picture class="features__pictures">
        <source
          srcset="
                    ./images/features-man1x-mobile.png 1x
                    ./images/features-man2x-mobile.png 2x,
                    "
          media="(max-width:767px)"
        />
        <source
          srcset="
                    ./images/features-man1x-tablet.png 1x
                    ./images/features-man2x-tablet.png 2x,
                    "
          media="(max-width:1199px)"
        />
        <source
          srcset="
                    ./images/features-man1x-desk.png 1x
                    ./images/features-man2x-desk.png 2x,
                    "
          media="(min-width:1200px)"
        />
        <img
          class="features__img"
          src="./images/features-man1x-mobile.png"
          alt="man"
        />
      </picture>
      <ul class="features-list">
        <li class="features-list__item">
          <div class="features-list__item-text">
            <h2>Amet varius</h2>
            <p>
              Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
              Vivamus diam a iaculis malesuada
            </p>
          </div>
        </li>
        <li class="features-list__item">
          <div class="features-list__item-text">
            <h2>Amet varius</h2>
            <p>
              Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
              Vivamus diam a iaculis malesuada
            </p>
          </div>
        </li>
        <li class="features-list__item">
          <div class="features-list__item-text">
            <h2>Amet varius</h2>
            <p>
              Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
              Vivamus diam a iaculis malesuada
            </p>
          </div>
        </li>
        <li class="features-list__item">
          <div class="features-list__item-text">
            <h2>Amet varius</h2>
            <p>
              Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
              Vivamus diam a iaculis malesuada
            </p>
          </div>
        </li>
        <li class="features-list__item">
          <div class="features-list__item-text">
            <h2>Amet varius</h2>
            <p>
              Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
              Vivamus diam a iaculis malesuada
            </p>
          </div>
        </li>
        <li class="features-list__item">
          <div class="features-list__item-text">
            <h2>Amet varius</h2>
            <p>
              Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
              Vivamus diam a iaculis malesuada
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</body>
</html>
