<div class="header-bg">
  <header class="header">
    <div class="container header-container">
      <div class="header-block">
        <div class="header_logo--box">
          <a href="#" class="header_logo">Mobileapp</a>
        </div>

        <button class="header_btn"></button>

        <nav class="header_nav">
          <ul class="header_list">
            <li class="header_item">
              <a href="#hero" class="header_link">HOME</a>
            </li>
            <li class="header_item">
              <a href="" class="header_link" id="feauters">FEATURES</a>
            </li>
            <li class="header_item">
              <a href="" class="header_link" id="team">TEAM</a>
            </li>
            <li class="header_item">
              <a href="#testimonials" class="header_link">TESTIMONIALS</a>
            </li>
            <li class="header_item">
              <a href="" class="header_link" id="contact">CONTACT</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</div>
