<div class="header-bg">
  <header class="header">
    <!-- <div class="container"> -->
    <a href="#" class="header_logo">Mobileapp</a>
    <button class="header_btn">
      <svg class="icon icon-modal-menu" width="24" height="14">
        <use xlink:href="./images/sprite.svg#icon-modal-menu"></use>
      </svg>
    </button>
    <nav class="header_nav">
      <ul class="header_list">
        <li class="header_item"><a href="">HOME</a></li>
        <li class="header_item"><a href="">FEATURES</a></li>
        <li class="header_item"><a href="">TEAM</a></li>
        <li class="header_item"><a href="">TESTIMONIALS</a></li>
        <li class="header_item"><a href="">CONTACT</a></li>
      </ul>
    </nav>
    <!-- </div> -->
  </header>
</div>
